body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.terms{font-weight: bolder;
}
.ref{font-style: italic;}
.bg-blue td{
  background-color: #cfeefc;
}.bg-green td{
  background-color: #c9fbdd;
}